
html {
  font-size: 1.2em;
 
 }
 
body
{
	background-color: AliceBlue ;
}

div .hobbies {
	list-style-type: none;
	margin: 20px 20px;
	}

.hobbies li {
	padding: 20px 20px;
}

.hobbies img {
	padding-right: 20px;
}

/*.hobbies span {
	font-size: 20px;
}*/

 .footer-container {
	  font-size: 15px;
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background-color: #efefef;
	  text-align: center;
	  height: 35px;
}